@page "/tabla"
@using EjemploModelado.Web.Domain.Builder
@using EjemploModelado.Web.Domain.ServiceModel
@using EjemploModelado.Web.Domain.Services

<h3>Tabla</h3>

@if (computadoras == null || computadoras.Count == 0)
{
    <div>
        <h4>No hay computadoras. Genera más con el formulario.</h4>
    </div>
}
else
{
    <section>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Memoria RAM (GB)</th>
                        <th>Almacenamiento (GB)</th>
                        <th>Núcleos del Procesador</th>
                        <th>Puertos USB</th>
                        <th>Componentes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var computadora in computadoras)
                    {
                        <tr>
                            <td>@computadora.MemoriaRam</td>
                            <td>@computadora.Almacenamiento</td>
                            <td>@computadora.NucleosProcesador</td>
                            <td>@computadora.PuertosUsb</td>
                            <td>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}

@code {
    List<ComputadoraModel> computadoras = new List<ComputadoraModel>();

    protected override async Task OnInitializedAsync()
    {
        computadoras = await ApiServiceComputadora.Singleton().GetComputadoras();
    }
}
