@page "/"

<PageTitle>Home</PageTitle>



<div style="text-align: center; padding: 20px;">
    <img src="~/img/img_home.jpg" alt="Imagen de inicio" style="max-width: 100%; height: auto;" />
    <h1>¡Bienvenido a nuestro sitio!</h1>
    <h3>Usa nuestras herramientas para estimar el presupuesto necesario para tu computadora.</h3>
</div>